<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!--verbose - количество выведенной информации в консоль после теста
(min=1 - max=10)    -->
<!--thread-count - Установка количества потоков-->
<suite thread-count="10" parallel="tests" name="Тесты" verbose="10">


    <test name="Позитивный тест (user: Авто Пользователь  pwd: 12345678)">

        <parameter name="user" value="Авто Пользователь"/>
        <parameter name="pwd" value="12345678"/>

        <classes>
            <class name="autotests.LoginPositiveTest"/>
        </classes>
    </test>


    <test name="Позитивный тест (user: 321  pwd: 1234)">

        <parameter name="user" value="321"/>
        <parameter name="pwd" value="1234"/>

        <classes>
            <class name="autotests.LoginPositiveTest"/>
        </classes>
    </test>


    <test name="Позитивный тест (user: 231  pwd: 1234)">

        <parameter name="user" value="231"/>
        <parameter name="pwd" value="1234"/>

        <classes>
            <class name="autotests.LoginPositiveTest"/>
        </classes>
    </test>


    <test name="Позитивный тест (user: 213  pwd: 1234)">

        <parameter name="user" value="213"/>
        <parameter name="pwd" value="1234"/>

        <classes>
            <class name="autotests.LoginPositiveTest"/>
        </classes>
    </test>


    <test name="Негативный тест">

        <classes>
            <class name="autotests.LoginNegativeTest"/>
        </classes>
    </test>


    <test name="Тест календаря" parallel="methods">

        <classes>
            <class name="autotests.CalendarTests"/>
        </classes>
    </test>


    <test name="Тест API" parallel="methods">

        <classes>
            <class name="autotests.GetHolidaysTests"/>
        </classes>
    </test>


</suite>